<mat-sidenav-container fxFlexFill fxLayout="column" fxLayoutAlign="start none">
    <mat-sidenav #sidenav role="navigation">
        <srm-sidenav-list (closeSidenav)="sidenav.close()"></srm-sidenav-list>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill fxLayout="column" fxLayoutAlign="start none">
        <srm-header (sidenavToggle)="sidenav.toggle()"></srm-header>
        <router-outlet></router-outlet>
        <div fxFlex></div>
        <srm-footer></srm-footer>
    </mat-sidenav-content>
    <div fxFlex></div>
</mat-sidenav-container>
