<nav mat-tab-nav-bar>
    <a mat-tab-link [routerLink]="['list']" routerLinkActive #list="routerLinkActive" [active]="list.isActive">Race List</a>
    <a mat-tab-link [disabled]="(selectedRaces | async).length != 1" (click)="showDetails()" routerLinkActive #details="routerLinkActive" [active]="details.isActive">Race Details</a>
    <a mat-tab-link [disabled]="(selectedRaces | async).length != 1" (click)="showRegistrations()" routerLinkActive #reg="routerLinkActive" [active]="reg.isActive">Race Registrations</a>
</nav>

