<nav mat-tab-nav-bar>
    <a mat-tab-link [routerLink]="['list']" routerLinkActive #list="routerLinkActive" [active]="list.isActive">Race List</a>
    <a mat-tab-link [disabled]="(selectedRaces | async).length != 1" (click)="showDetails()" routerLinkActive [active]="(activeTabs | async).includes('race-details')">Race Details</a>
    <a mat-tab-link [disabled]="(selectedRaces | async).length != 1" (click)="showRegistrations()" routerLinkActive [active]="(activeTabs | async).includes('registration-list')">Registrations</a>
    <a mat-tab-link [disabled]="(selectedRegistrations | async).length != 1" (click)="showRegistrationDetails()" routerLinkActive [active]="(activeTabs | async).includes('registration-details')">Registration Details</a>
</nav>
